.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.postimg.cc/QNQ3BFvL/DVWk9kp-TURBXy8y-OGMz-Y2-Mz-NDdi-Mz-I0-Mj-A3-M2-E1-Y2-Mx-Y2-Ji-M2-Y1-Nj-M1-ZC5qc-Ge-Sl-QMAAM0-DIM0-Bwp-UCz-QMHAMPDga-Ew-AQ.jpg");
}

.invitation {
  font-size: 30px;
  font-weight: bolder;
}

.box {
  padding: 30px 0;
  color: black;
  font-size: 30px;
  background-color: #ffa600;
  text-align: center;
}

.contact {
  font-size: 30px;

  .name {
    font-weight: bold;
    margin-right: 10px;
  }

  img {
    width: 150px;
    height: 150px;
  }

  .contactBox {
    flex-direction: column;
  }
}